.rating{
    background-image: url("../../images/bgcounter.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5.5rem 12vw;
}
.rating__holder p{
    font-size: 1.2rem;
}
.rating__inner{
    gap: 4rem;
    justify-content: start;
    padding: 4rem 0;
}
.rating__item{
    font-size: 3rem;
    font-weight: 600;
    gap: 1.5rem;
}